*{
    margin: 10px;
    padding:10px;
}
h1{
    float: left;
    margin-top: 0px;
}
.home{
    float: right;
    color: brown;
    display: inline;
    text-align: justify;
}
.home li{
    display: inline-block;
    margin-top: 0;
}
.home li a{
    color: goldenrod;
    font-size: 20px;
    border: 2px solid whitesmoke;
}
h3{
    text-align: left;
    margin-top: 40px;
}
.center{
    text-align: end;
}
