*{
    margin: 10px;
    padding:10px;
}
h1{
    float: left;
    margin-top: 0px;
}
h3{
    text-align: left;
    margin-top: 40px;
}
.center{
    text-align: end;
}
.index{
    float: right;
}
.about{
    float: right;
    color: rgb(42, 44, 165);
}
body{
    background-color: hotpink;
}